.navbar {

    padding: 20px;
    color: #fff;
}

.navbar nav {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar a {
    /* margin-right: auto; */
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

.navbar .nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 4px;
}

.navbar a:last-child:hover {
    background: #fff;
    color: #333;
}

.navbar p {
    display: inline;
    margin-left: 20px;

}

@media (max-width: 769px) {
    .navbar nav {
        flex-direction: column;


    }

    .navbar .nav-links p {
        margin-top: 40px;
        text-align: center;
        display: block;
    }

    .navbar .nav-links {
        margin-top: 40px;

    }


}