.theme-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 10px auto;
    width: 100%;
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.theme-buttons div {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 15px;
    border-radius: 50%;

}


.mode-toggle {
    margin-right: auto;

}

.mode-toggle svg {
    width: 24px;
    height: 24px;
    cursor: pointer;

}