@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  font-size: 1.4em;
  background: hsl(0, 0%, 70%);
  color: #333;
}